.step-navigation {
    position: absolute;
    bottom: 400px;
    gap: 140%;
  
  }
  .vrfIntro > span {
    font-size: 140%; 
  }
  .vrfIntro > span:first-child {
    font-weight: bold;
  }

  .step-navigation .next-button {
    margin-left: auto;
}

.empty-div {
  width: 190px; /* Adjust width as needed */
}