.intent-wrapper{
    border-radius: 12px;
    background-color: #141d65;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-height: 100px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; */
}

.intent-wrapper h5 {
    color:  #9093aa;
}
.intent-container {
    justify-content: space-between !important; 
    align-items: flex-end !important;
    /* max-height: 1000px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; */
}
/* .intent-container::-webkit-scrollbar {
    display: none; 
} */
.intent-left {
    gap: 0.5rem;

}
/* .card-container {
    justify-content: flex-start !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-height: 900px; 
    overflow-y: auto;
    padding: 10px;
} */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 30px; /* Adjust gap as needed */
    padding: 10px;
    /* max-height: 900px; 
    overflow-y: auto;
    padding: 10px; */
  }

.card-container::-webkit-scrollbar {
    width: 6px; /* Adjust width as needed */
}

/* .card-container::-webkit-scrollbar-thumb {
    background-color: #2a5ce9;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-track {
    background: #141d65;
} */
