.m_8fb7ebe7 {
    width: 182% !important;
}
.step-navigation {
    position: absolute;
    bottom: 400px;
    gap: 140%;
    /* bottom: 50px; */
    /* margin-top: 200px; */
    /* display: flex; 
    justify-content: space-between; 
    position: 'relative';
    top: 100px; */

}