.stepper-headings {
   display: flex;
   justify-content: flex-start;
   position: relative;
   /* left: 25%; */
   left: 12%;
}

.stepper-headings > p {
    font-family: "poppins";
    color: white;
    font-weight: bold;
    font-size: 200%;
}