.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
@media (max-width: 1200px) {
  .search-wrapper {
     gap: 10px;
     position: relative;
     left: 20%;
  }
}
@media (max-width: 600px) {
  .search-wrapper {
     gap: 10px;
     position: relative;
     left: 5%;
  }
}
@media (max-width: 600px) {
  .search-style {
    display: none;
  }
}


.search-container {
    display: flex;
    align-items: center;
    background-color: #1e2c85;
    border-radius: 30px;
    padding: 10px;
    width: 200%;
  }
  @media (max-width: 1200px) {
    .search-container {
      /* display: flex; */
      /* width:%; */
    }
  }
  .search-container input[type="text"] {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    width: 100%;
    font-family: 'Poppins', sans-serif; /* Specify the font family */
  }
  @media (max-width: 1200px)  {
    .search-container input[type="text"] {
      /* width: 50%; */
    }
    
  }
  .search-container input[type="text"]::placeholder {
    font-family: "Poppins", sans-serif;
    color: #2146b8;
    font-style: italic; 
  }
  .search-container input[type="text"]:focus {
    outline: none;
  }
  .search-container input[type="text"] {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px; /* Adjust the padding to position the text */
  }
  .search-icon {
    position: relative;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content:center;
    align-items: center;
    background-color: #1a2577;
    border-radius: 30px;
    width: 50px; 
    height: 30px; 
    cursor: pointer;
    margin-right: 10px; 
  }
  .search-icon svg {
    color: white;
  }
  .search-style {
    display: flex;
    position: relative;
    right: 5%;
    align-items: center;
    justify-content: center;
    background-color:#2f67ff;
    border-radius: 100%;
    height: 35px;
    width: 95px;
    padding: 3px;
    cursor: pointer;
  }
  @media (max-width: 1200px) {
    .search-style {
      position: relative;
      right: 2%;
    }
}
