.table-row {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    position: relative;
  }
.delete-button {
    display: none;
    position: relative;
    right: 10px;
    top: 100%;
    transform: translateY(-50%);
  }
  
.table-row:hover .delete-button {
    display: inline;
}

.m_4e7aa4fd:where([data-with-row-border]) {
    border-bottom: none !important;
  }

.m_b23fa0ef mantine-Table-table {
    position: relative !important;
    bottom: 37px !important;
  }