.f-wrapper {
    background: var(--decimal-black);

    
}

.decimal-logo {
    width: 100px;
    
}

.f-container {
    gap: 13px;
    padding: 103px;
    color: rgb(209, 208, 208);
}
.f-container :nth-child(2) {
    font-size: 85%;
}
.f-container :nth-child(3) {
    font-size: 70%;
}
.go-to-top {
    position: sticky;
    right: 20px;
    bottom: 20px;
  writing-mode: vertical-rl; 
  text-orientation: mixed; 
  cursor: pointer;
  font-size: 1rem;
  color: #f1f3f9;
  transition: color 0.3s ease;
}

.go-to-top:hover {
  color: var(--decimal-orange)
}

